*{
    margin:0;
padding:0;
}
.sab{
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Potta One', cursive;
}
.mainconte{
   font-family: 'Potta One', cursive;
    text-align: center;
}
.brog{
    text-align: center;
    font-family: 'Sawarabi Mincho', sans-serif;
    background-color: blanchedalmond;
}
.link_button {
    font-weight: bold;
    text-decoration: none;
    background: black;
    color:white;
    padding:5px 10px;
    border-radius: 20px;
    font-family: 'Avenir','Arial';
  }
  
  .link_button:hover {
    background: black;
    text-decoration: none;
  }
  
 
  .link_button:visited {
    color: burlywood;
  }    
    